//colors
$green: #6AB14B;
$dark: #131519;
$yellow: #C79246;
$red: #832737;
$grey: #494E55;
$lightgrey: #878F95;

body {
    font-family: 'Space Mono', monospace;
    margin: 0px;
    background-color: burlywood;
    
}

.main-container {
    border: 2px solid black;
    
}

.weekday-card {
    border: 2px solid black;
    width: 30%;
    text-align: center;
    margin: 50px;


    .current-status {
        background-color: $green;
        
        
        .weekday{
            font-size:1em;
        }

        .time{
            display: flex;
            justify-content: space-evenly;
            font-size:1em;
        }
    }

    .subject-cards {
        border: 2px solid blue;
    }

    ul{

        list-style-type:  none;
        
        li{
            border: 5px solid blue ;
            background-color: black;
            color: white;
            margin: 10px;
        
        .upper{
            display: flex;
            justify-content: space-evenly;
              }
         }


    }

    

}


