



body {
    font-family: 'Space Mono', monospace;
    margin: 0px;
    background-color: burlywood;
    
}

.main-container {
    border: 2px solid black;
    
}

.weekday-card {
    border: 2px solid black;
    width: 50%;
    
    text-align: center;


    .current-status {
        border: 10px solid green;
        background-color: yellow;
        height: 4em;
        
        .weekday{
            font-size:1em;
            text-align: center;
        }

        .time{
            display: flex;
            justify-content: space-evenly;
            font-size:1em;
        }
    }

    .subject-cards {
        border: 2px solid blue;
    }
    ul{
       list-style-type:  none;
        li{
        border: 5px solid blue ;
        background-color: black;
        color: white;
        margin: 10px;
        
        .upper{
            display: flex;
            justify-content: space-evenly;
              }
         }


    }

    

}


